*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: 100vh;
    width: 100vw;
    background-color: #091921;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    #message{
        width: 400px;
        display: flex;
        align-items: center;
        height: 60vh;
    }
    #clock{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300px;
        width: 300px;
        background-image: url(img/clock.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-radius: 50%;
        box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                    inset 0 -15px 15px rgba(255,255,255,0.05),
                    0 15px 15px rgba(0,0,0,0.05),
                    inset 0 15px 15px rgba(0,0,0,0.05);
        &::before{
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: #fff;
            border-radius: 50%;
            z-index: 900;
        }
    }
    #hour{
        position: absolute;
        width: 160px;
        height: 160px;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        &::before{
            content: '';
            position: absolute;
            width: 8px;
            height: 80px;
            background-color: #ff105e;
            z-index: 10;
            border-radius: 6px 6px 0 0 ;
        }
    }
    #minute{
        position: absolute;
        width: 190px;
        height: 190px;
        display: flex;
        justify-content: center;
        &::before{
            content: '';
            position: absolute;
            width: 4px;
            height: 90px;
            background-color: #fff;
            z-index: 11;
            border-radius: 6px 6px 0 0 ;
        }
    }
    #second{
        position: absolute;
        width: 230px;
        height: 230px;
        display: flex;
        justify-content: center;
        &::before{
            content: '';
            position: absolute;
            width: 2px;
            height: 150px;
            background-color: #fff;
            z-index: 12;
            border-radius: 6px 6px 0 0 ;
        }
    }
    #info{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            display: block;
            font-size: 2em;
            margin-block-start: 0.67em;
            margin-block-end: 0.67em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            unicode-bidi: isolate;
        }
        a{
            margin-left: 10px;
            color: white;
            text-decoration: none;
            font-size: 20px;
        }        
    }
}